.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 5vh 95vh;
  grid-template-areas:
  "files nav"
  "files editor";
  width: 100%;
  height: 100vh;
  background: #2e303a;
}

.editor {
  grid-area: editor;
  background: #373a49;
  border: 0;
  color: #fff;
}

.nav {
  grid-area: nav;
}

.editor:focus {
  outline: 0;
}

.files {
  grid-area: files;
  display: flex;
  flex-flow: column;
  align-content: stretch;
}
