.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 100vh;
  grid-template-areas:
  "files editor";
  width: 100%;
  height: 100vh;
  background: #2e303a;
}

.editor {
  grid-area: editor;
  background: #373a49;
  border: 0;
  color: #fff;
}

.nav {
  grid-area: nav;
}

.editor:focus {
  outline: 0;
}

.files {
  grid-area: files;
  display: flex;
  flex-flow: column;
  align-content: stretch;
}

.container {
  width: 980px;
  margin: 20px auto;
}

h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 500;
  font-size: 36px;
  color: rgb(51, 51, 51);
}

input {
  font-size: 14px;
  text-align: center;
  width: 120px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

pre {
  position: absolute;
  padding: 0;
  margin-top: 20px;
  width: 50%;
  min-height: 100px;
}

code {
  min-height: 100px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.textarea {
  color: gray;
  opacity: 0.3;
}
